.portrait {
    background-image: url("https://media.istockphoto.com/photos/boy-in-a-white-tshirt-with-a-paper-bag-on-his-head-with-a-painted-a-picture-id1368558004?s=612x612");
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
body {
    background-color: #FBF8F1;
}
h1, h3 {
    color: #54BAB9;
}
hr {
    width: 5%;
    border-style: dotted none none none;
    color:grey;
    height: 1px;
}
